.map {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.ymaps-layers-pane {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.attraction-link {
  text-decoration: none;
}

.fab {
  position: absolute;
  bottom: 26px;
  z-index: 40;
  /* right: 16px; */
}
